{# templates/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <p>No existe ningun producto con ese ID</p>
   
    <button>
    <a href="/product">VOLVER</a>
    </button>
{% endblock %}